<footer>
    <div class="container-fluid bg-light cont-footer">
        <div class="row">
          <div class="col-sm">
            <h4 class="text-center">Contacto</h4>
            <div class="d-flex flex-column">
               <div class=" d-flex justify-content-center"> Facebook <i class="fab fa-facebook ms-5"></i></div>
               <div class=" d-flex justify-content-center"> Instagram<i class="fab fa-instagram-square"></i></div>
               <div class=" d-flex justify-content-center">Twitter <i class="fab fa-twitter-square"></i></div>
            </div>
          </div>
          <div class="col-sm">
            <h4 class="text-center">Enlaces de Interés </h4>
            <div class="cont-links">
            <div class="d-flex flex-column mb-3">
                <a routerLink="">Quienes Somos</a>
                <a routerLink="">PQRS</a>
                <a routerLink="">Blog</a>
             </div>
             <div class="d-flex flex-column mb-3">
                <a routerLink="">Pendiente</a>
                <a routerLink="">SOAT</a>
                <a routerLink="">Politica de privacidad</a>
             </div>
            </div>
          </div>
          <div class="col-sm">
            <h4 class="text-center">Siguenos en redes sociales</h4>
            <div class="d-flex flex-column">
               <div class=" d-flex justify-content-center"> Facebook <i class="fab fa-facebook ms-5"></i></div>
               <div class=" d-flex justify-content-center"> Instagram<i class="fab fa-instagram-square"></i></div>
               <div class=" d-flex justify-content-center">Twitter <i class="fab fa-twitter-square"></i></div>
            </div>
          </div>
        </div>
      </div>
</footer>
