<header class="headerindex">
    <div class="cont-info">
        <h3 class="tit-nav ms-3">
            Cotiza con Nosotros
        </h3>
        <p class="tit-text col-8 ms-3">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, quasi corrupti a temporibus, unde accusamus expedita reprehenderit et placeat quaerat maxime minima nisi rerum ipsa aliquid quas ratione error aut!
        </p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-cotizar m-5"><a  class="a-btn" routerLink="/">Cotizar</a></button>
        </div>
      </div>
</header>
<div class="cont-info-best">
    <h2 class="text-center pt-5">Ventajas de comprar tu seguro con nosotros</h2>
    <div class="d-flex flex-row">
        <p class="col-4 fs-1 tit-info1 m-5 text-center">100% Digital</p>
        <p class="col-6 m-5 p-info1 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi minus deserunt minima mollitia repudiandae ea fugiat accusamus soluta a, iste repellat veniam, dignissimos consectetur nobis expedita aliquid obcaecati consequatur iusto.</p>
    </div>
    <div class="d-flex flex-row">
        <p class="col-6 m-5 p-info1 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi minus deserunt minima mollitia repudiandae ea fugiat accusamus soluta a, iste repellat veniam, dignissimos consectetur nobis expedita aliquid obcaecati consequatur iusto.</p>
        <p class="col-4 fs-1 tit-info1 m-5 text-center">Cero Trámites</p>
    </div>
    <div class="d-flex flex-row">
        <p class="col-4 fs-1 tit-info2 m-5 text-center">Digital, pero con excelente acompañamiento humano</p>
        <p class="col-6 m-5 p-info1 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi minus deserunt minima mollitia repudiandae ea fugiat accusamus soluta a, iste repellat veniam, dignissimos consectetur nobis expedita aliquid obcaecati consequatur iusto.</p>
    </div>
</div>
<div class="cont-help pb-5">
    <p class="tit-help text-center pt-3">Déjanos saber cómo podemos ayudarte </p>
    <div class="d-flex flex-row justify-content-around pt-5">
        <button class="btn btn-primary btn-help"><a>Contactar con <br> un asesor</a></button>
        <button  class="btn btn-primary btn-help"><a>Soporte </a></button>
    </div>
</div>
<div class="cont-video d-flex flex-column justify-content-center">
    <p class="tit-help text-center">Te ofrecemos la mejor tarifa posible</p>
    <p class="text-center"> Clic aquí para ver el video</p>
    <img class="col-xs d-flex img-video pb-5" src="assets/img/play.jpg" alt="Play">
</div>
<div class="cont-products p-5">
    <h2 class="text-center pb-3">Algunos de nuestros productos</h2>
    <div class="row">       
        <div class="col m-3">
          <div class="card h-100">
            <h5 class="card-title text-center">Hogar deudor</h5>
            <img src="assets/img/play.jpg" class="card-img-top" alt="hogar-deudor">
            <div class="card-body">
              <button class="btn btn-primary"><a>Ver más</a></button>
            </div>
          </div>
        </div>
        <div class="col m-3">
            <div class="card h-100">
              <h5 class="card-title text-center">SOAT</h5>
              <img src="assets/img/play.jpg" class="card-img-top" alt="hogar-deudor">
              <div class="card-body">
                <button class="btn btn-primary"><a>Ver más</a></button>
              </div>
            </div>
          </div>
          <div class="col m-3">
            <div class="card h-100">
              <h5 class="card-title text-center">Mascotas</h5>
              <img src="assets/img/play.jpg" class="card-img-top" alt="hogar-deudor">
              <div class="card-body">
                <button class="btn btn-primary"><a>Ver más</a></button>
              </div>
            </div>
          </div>
      </div>
</div>
<div class="cont-allies">
    <h2 class="text-center p-3">Nuestros aliados</h2>
    <div class="row pb-5">
        <div class="col m-3">
            <div class="card h-100">
              <h5 class="card-title text-center">Hogar deudor</h5>
              <img src="assets/img/play.jpg" class="card-img-top" alt="hogar-deudor">
              
            </div>
          </div>
          <div class="col m-3">
              <div class="card h-100">
                <h5 class="card-title text-center">SOAT</h5>
                <img src="assets/img/play.jpg" class="card-img-top" alt="hogar-deudor">
              </div>
            </div>
    </div>
</div>