<div>
    <h2 class="text-center m-5">Hola, para ofrecerte la mejor tarifa, necesitamos algunos <br>
        datos, esto no nos tomará más de 1 minuto
    </h2>
    <div class="container">
        <h4 class="text-center fs-1 mb-4">¿Qué tipo de inmueble deseas asegurar</h4>
        <div class="row d-flex justify-content-center">
            <div class="col-5" >
                <div class="card h-100 card-home ">
                    <img src="assets/img/home.png" class="card-img-top  mt-5" alt="..." height="300px">
                    <div class="card-body">
                        <h5 class="card-title text-center">Una Casa</h5>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card h-100 card-building">
                    <img src="assets/img/building.png" class="card-img-top p-5"  alt="..." height="350px">
                    <div class="card-body">
                        <h5 class="card-title text-center">Un Apartamento</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="">
        <div class="container col-8 mt-5">
            <div class="form-group">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="text-center mb-4">¿En dónde se encuentra ubicado el inmueble?</h4>
                        <div class="container col-5">
                            <input type="text" name="" class="form-control  form-control-lg col-12" id="ubicacion" placeholder="Ciudad/Departamento">
                        </div>  
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="text-center mb-4">¿Cuál es el valor comercial del inmueble?</h4>
                        <div class="container col-6">
                            <div class="row">
                                <input type="text" name="" class="form-control  form-control-lg col-10" id="ubicacion" placeholder="Valor Comercial">
                                <i class="fa fa-question-circle m-4 fa-4" aria-hidden="true"></i>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Busca el seguro para</h4>
                        <div class="container col-8">
                            <div class="row m-3">
                                <button class="btn btn-primary ml-5">Crédito hipotecario</button>
                                <button class="btn btn-primary ml-5">Leashing Habitacional</button>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="text-center mb-4">¿Con cuál entidad bancaria?</h4>
                    <div class="container col-5">
                        <input type="text" name="" class="form-control  form-control-lg col-12" id="ubicacion" placeholder="Nombre de la entidad bancaria">
                    </div>  
                </div>
            </div>
        </div>
        <div class="container col-2">
            <button class="btn btn-primary m-5" routerLink="/hogarDeudorOferta"> Enviar </button>
        </div>
        
    </form>
</div>