<div class="container">
    <h1 class="text-center m-5">Tu oferta</h1>
    <div class="container col-11">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="text-center mb-4">Hogar deudor *</h3>
                <div class="container col-12 d-flex justify-content-center">
                    <div class="row cont-textOffers">
                        <p class="offer-text text-center ml-3"> $720.000 </p>
                        <p class="offer-subtext text-center">Prima Anual</p>
                    </div>
                </div>
                <p class="text-center">Prima mensual: $60.000</p>
                <div class="container col-6">
                    <div class="row m-3 justify-content-center d-flex">
                        <button class="btn btn-primary ml-3">La Quiero</button>
                        <button class="btn btn-primary ml-5">Enviar al correo</button>
                    </div>
                </div>  
                <p>*Nota aclaratoria: Los valores de la propuesta dependen de la veraciadad de los datos entregados</p>
                 
            </div>
        </div>
    </div>
    <div class="container col-11">
        <div class="card h-100">
            <h3 class="text-center m-3">Con nosotros tienes beneficios Adicionales</h3>
            <div class="row justify-content-center d-flex">
                <div class="row m-5">
                    <img src="assets/img/informacion.png" alt="" style="width: 100px;" class="m-3">
                    <div class="column">
                        <h5 class="text-center">Garantía de devolución <br> de tu dinero</h5>
                        <p style="width: 200px; text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos enim voluptates facilis adipisci, nobis veritatis quasi laudantium cumque. Et nemo totam recusandae earum mollitia modi beatae aspernatur sunt unde porro.</p>
                    </div> 
                </div>
                <div class="row m-5">
                    <img src="assets/img/informacion.png" alt="" style="width: 100px;" class="m-3">
                    <div class="column">
                        <h5 class="text-center">100% digital y cero <br> trámites</h5>
                        <p style="width: 200px; text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos enim voluptates facilis adipisci, nobis veritatis quasi laudantium cumque. Et nemo totam recusandae earum mollitia modi beatae aspernatur sunt unde porro.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex">
                <div class="row m-5">
                    <img src="assets/img/informacion.png" alt="" style="width: 100px;" class="m-3">
                    <div class="column">
                        <h5 class="text-center">Te informamos en todo <br> momento</h5>
                        <p style="width: 200px; text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos enim voluptates facilis adipisci, nobis veritatis quasi laudantium cumque. Et nemo totam recusandae earum mollitia modi beatae aspernatur sunt unde porro.</p>
                    </div>
                </div>
                <div class="row m-5">
                    <img src="assets/img/informacion.png" alt="" style="width: 100px;" class="m-3">
                    <div class="column">
                        <h5 class="text-center">Digital pero con <br> calidad banana</h5>
                        <p style="width: 200px; text-align: justify;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos enim voluptates facilis adipisci, nobis veritatis quasi laudantium cumque. Et nemo totam recusandae earum mollitia modi beatae aspernatur sunt unde porro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-11 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="text-center mb-4">¿No estás seguro y necesitas mayor <br> información ? Te tenemos cubierto</h3>
                <div class="container col-6">
                    <div class="row m-3">
                        <button class="btn btn-primary ml-5">Descargar <br> clausulado</button>
                        <button class="btn btn-primary ml-5">Quiero comunicarme <br> con alguien</button>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</div>
